<p id="status" style="background: rgb(255, 255, 206) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: rgb(255, 0, 0); font-weight: bold; text-align: center; visibility: hidden; width: 100%; height: 15px;"></p>

<p align="center"><font size="5">Account Recovery</font></p>
<p align=center> Enter the Recovery Key received in your email</p>
<form method="get" action=".">
<p align=center>
 	  <table style="background-color: rgb(252, 233, 178); width: 154px; height: 96px;" cellpadding="15" cellspacing="0">
  <TR>
            <TD ALIGN="right">
              <p>Username</p>
      	      </td>
            <td align="left">
              <input name="uname" id="uname" maxlength="30" size="20" value="" type="text">
            </TD>
          </TR>

  <TR>
            <TD ALIGN="right">
                   <p>KEY</p>
            </td>
            <td align="left">
              <input name="rkey" id="rkey" maxlength="30" size="20" value="" type="text">

                </td>
            </tr>


<!------------------------------------------------>


	    <TR>
            <TD COLSPAN="2">
              <P ALIGN="center">
                <input name="Submit" value="Update " type="submit" onclick="return  ajax_accrecv();" > 
<a href="/home/"> <INPUT TYPE="button" NAME="cancel" VALUE="Cancel" > </a>
          </form>    </P></P>
            </TD>
          </TR>
	    <TR>
            <TD COLSPAN="2">
            </TD>
          </TR>
        </TABLE> <br>
