<font size=2><h1>FAQ?</h1>
<p><h4>1. Is it secure to store all my account passwords with ulogin?</h4> 
All your passwords are stored with proper encryption in our servers.
Even if somebody hacks our servers they will never be able to get those passwords.These passwords can only be decrypted using your UsignIn password.<p><br><p>


<h4>2.What if I lose my universal id?  </h4>

We always recommend you not to put the mail account to ulogin in which u have created your id.You will be able to recover your id with that email account. This is the worst case scenario and remember that your chance of password loss is very low when you use SL2 login.</p><br><p>


<h4>3.How a single password  is safe as I will lose all my vital data if I lose it?. </h4> 

Majority of people will have only two or three critical accounts . This is in most cases their mail accounts and will be the ones used to create other accounts. You can keep them separate from ulogin if you have above fear. <br>

But for safety it will be better to add them to ulogin when you  need to use them in an insecure system and they can be removed as soon as your need is over. So those critical accounts can be kept  under the single login for temporary need . This will help you not to lose your important accounts when using insecure systems.</p>
</font>
