<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>UVLogin Help</title>

</head>
<body>
<h2><span style="font-weight: bold; text-decoration: underline;">UVLogin</span></h2>
<br>
Universal Login enables you to access all our accounts with a single
signin.<br>
You dont need to remember large number of username and passwords. <br>
Will save you the time to open the login page and type in details. <br>
Multiple accounts with the same website can be easily managed.<br>
<br style="font-weight: bold; text-decoration: underline;">
<h2><br style="font-weight: bold; text-decoration: underline;">
<span style="font-weight: bold; text-decoration: underline;">Getting
Started</span></h2>
<br>
Using
UVLogin is trivail. If u are a registered user login to our site
at&nbsp;www.uvlogin.com/login else register at
www.uvlogin.com/signup.<br>
Select a user name and password and create an account.<br>
<br style="font-weight: bold; text-decoration: underline;">
<h2><span style="font-weight: bold; text-decoration: underline;">Adding
a Site</span></h2>
<br>
After typing your username and password you are redirected to the home
page.<br>
<br>
<br>
<img style="border: 1px solid ; width: 650px; height: 488px;" alt="Home Page" src="https://www.uvlogin.com/static/help/images/home.png"><br>
<br>
Here
you can sides in which you want login automatically without providing
usernames and passwords each time. Click on the add site button seen on
the above image(available both in the top panel of all pages and the
left bottom of home page). Then will be directed the page shown below<br>
<br>
<img style="border: 1px solid ; width: 650px; height: 475px;" alt="addsite" src="https://www.uvlogin.com/static/help/images/register.png"><br>
Here you need to fill four things<br>
<br>
<span style="font-weight: bold; text-decoration: underline;">1.URL</span><br>
<br>
Here
you should add the address of the login page of the site which you wish
to login automatically. eg:&nbsp;www.uvlogin.com/login/<br>
<br>
<span style="font-weight: bold; text-decoration: underline;">2.Display
Name</span><br>
<br>
This
is an optional field. Here you can select a name for the site to which
enabling automatic login facilty. eg: uvlogin if you want login to the
site&nbsp;www.uvlogin.com.<br>
If this field is left black the diplay name will be chosen as the same
of &nbsp;URL<br>
<br>
<span style="font-weight: bold; text-decoration: underline;">3.Username</span><br>
<br>
Here you should&nbsp;provide the username of the site which u want
to login automatically.<br>
<br>
<span style="font-weight: bold; text-decoration: underline;">4.Password</span><br>
<br>
Here you should provide the password of the site to which you want to
login automatically.<br>
<br>
After filling this fields click the submit button.<br>
<br style="font-weight: bold; text-decoration: underline;">
<h2><span style="font-weight: bold; text-decoration: underline;">Logging
in to sites Automatically</span></h2>
<br>
<br>
<img style="border: 1px solid ; width: 650px; height: 488px;" alt="Home" src="https://www.uvlogin.com/static/help/images/home1.png"><br>
<br>
<br>
<br>
Once
you have added sites to your account, the auto-login(automatic login)
feature&nbsp; will be available on your home page. As all the sites
which you have added will be displayed. To login to the respective site
you can click the signin button. On clicking the signin&nbsp; a new
window will be opened&nbsp; and you will be logged in
auutomatically to
the correspondin site.<br>
<br>
To change the username,password or display
name you can use the edit button. To delete a &nbsp;added site u
can
use the delete button.<br>
<br>
<h2>Settings</h2>
<span style="font-weight: bold; text-decoration: underline;">Profile</span><br>
<br>
You can add your details here (Optional)<br>
<br>
<img style="border: 1px solid ; width: 650px; height: 488px;" alt="profile" src="https://www.uvlogin.com/static/help/images/profile.png"><br>
<br>
<span style="font-weight: bold; text-decoration: underline;">Password</span><br>
<br>
You can change your UVLogin password here.<br>
<br>
<img style="border: 1px solid ; width: 650px; height: 488px;" alt="change password" src="https://www.uvlogin.com/static/help/images/password.png"><br>
<br>
<br style="font-weight: bold; text-decoration: underline;">
<span style="font-weight: bold; text-decoration: underline;">SL2Login</span><br>
<br>
Security level 2 login of this site provides you with enhanced security
to protect from Keyloggers . Keyloggers are programs which runs in the
background and saves what ever we type in (including our passwords) and
which will be accessable to the one who installed it.This way we are in
danger of losing our accounts when we access internet in insecure
systems like Internet Cafes. (These accounts can even be misused for
terrorist activities) <br>
<br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Protects
from keyloggers <br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <br>
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Useful
while travelling and in internet cafes.<br>
<br style="font-weight: bold; text-decoration: underline;">
<span style="font-weight: bold; text-decoration: underline;">Enabling
SL2Login</span><br>
<br>
Inorder to use SL2Login facility you need to<br>
<br>
1.Login to UVLogin if you are already an user else create an account.<br>
<br>
2.Select the settings tab from the home page.<br>
<br>
<img style="border: 1px solid ; width: 650px; height: 488px;" alt="Enabling SL2" src="https://www.uvlogin.com/static/help/images/sl2.png"><br>
<br>
3. Enter your UVLogin password.<br>
<br>
4. Select a pin numeric for your SLLogin.(It cannot be an alphabet) <br>
<br>
5. Click Submit button. SL2Login facility is available for your account
now.<br>
<br>
<h2><br>
<span style="font-weight: bold; text-decoration: underline;">Logging
in using SL2Login</span></h2>
<br>
1.Click the SL2Login button the home page.<img style="border: 1px solid ; width: 650px; height: 488px;" alt="Logging in using SL2Login" src="https://www.uvlogin.com/static/help/images/sl2logging_in.png"><br>
<br>
2.In the login name filed type your UVLogin username.<br>
<br>
3.Now say the pin you set is 1234.(Look the Enabling part to find how
to set the Pin). Inorder to findout the key look the mapping on the
code box. 1 is mapped to t ,2 to h, 3 to m and 4 to i.<br>
<br>
so your key is "thmi". This key changes from time to time&nbsp; you
are loging in .So always check the mappings in the code box to get the
key for your current session. <br>
<br>
4 After entering the key type the Login button.You will be redirected
to your home page.
</body></html>
