<font size="3">
<p align="center"><font size="7"><b>Universal
Login</b><sup><font size="1">TM</font></sup></font><br>
<font size="2">ALL in 1 Account
Management Site</font></p>
<font color="#0000ff" size="4"><font color="#ff0000">U<font color="#4cc417">V</font></font>Login<sup><font size="1">TM</font></sup></font>
<p style="margin-left: 50px;"><font size="3"><big style="font-weight: bold; font-style: italic;">Universal</big>
Login enables you to access all our accounts with a single signin.</font></p>
<ul style="margin-left: 50px;" align="center">
<li>You dont need to <i><b>remember</b></i>
large number of username and passwords.
</li>
<li>Will save you the <big style="font-weight: bold; font-style: italic;">time</big>
to open the login page and type in details.
</li>
<li> <big style="font-weight: bold; font-style: italic;">
Multiple accounts</big> with the same website can be
easily managed.
</li>
</ul>
<hr><font color="#ff0000" size="4">Virtual</font><font color="#0000ff" size="4">Keyboard
</font><br>
<br>
<font style="margin-left: 50px;">
<big><span style="font-weight: bold; font-style: italic;">Virtual Keyboard </span></big>
allows you to enter your passwords with out the fear of being tracked. This will ensure you protection from keyloggers.They are programs running the background to track the keys pressed and notify the person who installed them about the info you typed. Thus you have a high chance of loosing your passwords when accounts are accessed from insecure system like that in internat cafes, which may unavoidable while travelling.Our virtual keyboard eliminates such possibilities. Once you enter the site using VirtualKeyboard you can access all your accounts in just one-click<br><br>
If you dont want to create account or store your account details with us,you can try out our<big style="font-weight: bold; font-style: italic;"> OpenUVL </big>which provides  one-click login with VirtualKeyboard.

<hr>
<font color="#ff0000" size="4">Open</font><font color="#0000ff" size="4">ID</font><br>
<br>
<font style="margin-left: 50px;">

OpenID is a free and easy way to use a single digital identity across the Internet. When UVLogin allows you to manage all your password protected accounts, OpenID will make even registration on many sites unnecessary. With OpenID ie. "username.uvlogin.com" you can login to a large number of sites without registering in any of them. 
<br>Check out the sites supporting OpenID <br>
<ul>
<li><u><a href="https://www.myopenid.com/directory">myOpenID Site Directory</a> </u><br></li>
<li><u><a href="http://openiddirectory.com/">The OpenID Directory</a></u></li>
</ul>
</font>

<hr>
<font color="#ff0000" size="4">D</font><font color="#0000ff" size="4">Mail<sup><font size="1">TM</font></sup></font><br>
<br>
<font style="margin-left: 50px;">
Disposible mail provide <big style="font-weight: bold; font-style: italic;">temporary
mail ids</big> which can be used for purposes like account
registration in various sites. After the usage the mail can be deleted
and thus the Id disposed. It also dont require you have any login
procedure thus saving your <big style="font-weight: bold; font-style: italic;">time</big>
also.
</font>
<div style="margin-left: 50px;"><br>
Dmail will eliminate the need to
<ul>
<li> reveal your accounts.
</li>
<li> need of login to them.
</li>
<li> chance of <big style="font-weight: bold; font-style: italic;">spamming</big>
them. </li>
</ul>
</div>
</font>