<p align=center><font size=6>Signup</font></p>
<div id="loading"> </div>
<form method="post" action="/signup/" onsubmit="return validate();">
<div id="status"
style="background:#ffffce;color:#ff0000;font-weight:bold;text-align:center;visibility:{% if Errstatus %} visible {% else %}hidden {% endif %};
width:100%;height:15px;"> {{Errstatus}} </div>

<p align="center"> <table style=" width: 654px; height: 416px;" cellpadding="6" cellspacing="15">
<tbody>
<tr>
<td align="right">
<p>Username</p>

</td>
<td align="left"> <input name="un" id="uname" maxlength="15" size="20" value="{{un}}" type="text"><input style="background-color: rgb(255, 0, 0);" name="Submit" value="Check" onclick="return ajax_check(false);" type="button"> </td>
</tr>
<tr>
<td align="right">
<p>Password</p>
</td>
<td align="left"> <input name="pw" maxlength="15" size="20" id="pwd" type="password"> </td>
</tr>
<tr>
<td style="text-align: right;">
<p>Confirm Password</p>

</td>
<td align="left"> <input name="confirm" maxlength="15" size="20" id="pwd2" type="password"> </td>
</tr>
<!----------Captha--->
<tr>
<td colspan="2" style="text-align: center;"><font size="3">Humanness
Test</font>
</td>
</tr>
<tr>
<td colspan="2" align="center">
<script type="text/javascript" src="https://api-secure.recaptcha.net/challenge?k=6LcGVAMAAAAAAPpiQs0_1jNnTuVEg5e8-hOkjIx3">
</script></td>
</tr>
<!-----------till here---> <tr>

<td colspan="2">
<p align="center">By clicking on
'I accept' below, you confirm that you accept the <a href="/tos" target="_blank">Terms of Service</a>.
. <br>
</p>
<p align="center"> <input name="Submit" value="I Agree.Create my Account" onclick="return register();" type="submit"> </p>
</td>
</tr>
<tr>
<td colspan="2"> </td>
</tr>
</tbody>
</table> </p>

</form>
