<table height=22px border=0 width=100%>
<tr><td colspan=2 align=right>
<ul id="maintab">
<li><a href="/home/settings/" >Profile</a> </li>

<li  class="selected"><a href="#" onclick="return ajax_fetch('/setpwd/');">Password</a> </li>
<li><a href="#" onclick="return ajax_fetch('/setoid/');">OpenID</a> </li>
<li><a href="#" onclick="return ajax_fetch('/setrecv/');">Recovery</a> </li>
</ul>
</td></tr></table>
<br>
<div id="loading"> </div>
<p id="status" style="background: rgb(255, 255, 206) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: red; font-weight: bold; text-align: center; visibility: hidden; width: 100%; height: 15px;"></p> 

<p align="center"><font size="5">Change Password</font></p>
<form method="GET" action="." onsubmit="return pass_validate();">
<p align=center>
 	  <table style=" width: 654px; height: 216px;" cellpadding="15" cellspacing="0">
          <TR>
            <TD ALIGN="right">
              <p>Old Password</p>
      	      </td>
            <td align="left">
              <input name="oldpw" id="oldpw" maxlength="15" size="20" value="" type="password">
            </TD>
          </TR>
<TR>            <TD ALIGN="right">
              <p>New Password</p>
            </td>
            <td align="left">
              <input name="pw" id="pw" maxlength="15" size="20" type="password">
            </TD>
          </TR>

  <TR>
                <TD ALIGN="right">
                   <p>Confirm Password</p>
            </td>
            <td align="left">
              <input name="confirm" id="confirm" maxlength="15" size="20" type="password">

                </td>
            </tr>


<!------------------------------------------------>


	    <TR>
            <TD COLSPAN="2">
              <P ALIGN="center">
                <INPUT TYPE="SUBMIT" NAME="Submit" VALUE="Update " onclick="return pass_validate();">
<a href="/home/"> <INPUT TYPE="button" NAME="cancel" VALUE="Cancel" > </a>
          </form>    </P></P>
            </TD>
          </TR>
	    <TR>
            <TD COLSPAN="2">
            </TD>
          </TR>
        </TABLE> <br>
